# top-most EditorConfig file
root = true

# Defaults for every file
[*]
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Idris source files
[*.{idr,ipkg,tex,yaff,lidr}]
indent_size = 2

# Various configuration files
[*.yml]
indent_size = 2

[*.py]
indent_size = 4

[*.{js,mjs}]
indent_size = 2

[*.{c,h}]
indent_size = 2

[*.{md,rst}]
indent_size = 2

[*.sh]
indent_size = 4
switch_case_indent = true

[*.{bat,cmd}]
end_of_line = crlf
indent_size = 4

[{Makefile,*.mk}]
indent_style = tab

[*.nix]
indent_size = 2

[expected]
indent_style = unset
trim_trailing_whitespace = false
