*.ibc
*.ttc
*.ttm
*.o
*.d
*.a
*.dll
*.dylib

/build

/lib

idris2docs_venv
/docs/build

/libs/**/build

/tests/**/build
/tests/**/output
/tests/**/*.so
/tests/**/*.dylib
/tests/**/*.dll

/benchmark/**/build
/benchmark/*.csv

/bootstrap/bin/
/bootstrap/lib/
/bootstrap/idris2-[0-9]*/
/bootstrap/idris2_app/idris2-boot.*
/bootstrap/idris2_app/libidris2_support.*

/src/IdrisPaths.idr

/custom.mk

# NixOS
/result

# Editor/IDE Related
*~        # Vim swap file
.\#*      # Emacs swap file
.vscode/* # VS Code

# macOS
.DS_Store
